$base-color: blue;
$main-font-family: 'Times New Roman', Times, serif;
$sec-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$border-radius: 0.75em;
$box-shadow: 10px 10px 5px gray;