$base-color: red;
$main-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$sec-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$border-radius: 0.35em;
$box-shadow: -10px 10px 5px gray;